{% extends 'main.html' %}
{% block title %}
    <h1>{{ title }}</h1>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            {% for record in records %}
                <div class="blog-post">
                    <h2 class="blog-post-title">
                        {{ record.title }}
                        {% if record.creator in request.user.users.subscribes.all and record.id not in request.user.users.get_viewed_ids %}
                            <sup class="new">new!</sup>
                        {% endif %}
                    </h2>
                    <p class="blog-post-meta">
                        {{ record.created|date:"d/m/Y h:m" }},
                        <a href="{% url 'blogs:records' record.creator.id %}">{{ record.creator.user.get_full_name }}</a>
                    </p>
                     <p>{{ record.body|truncatewords:100|safe }}</p>
                    <p class="btn btn-outline-primary"><a href="{% url 'blogs:record' record.id %}">Подробнее...</a></p>
                </div>
            {% endfor %}
            {% if not records %}
                <h2>Записей пока нет...</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}